/* remove default browser spacing*/
* {
  margin: 0px;
  padding: 0px;
}

/*title text style*/
.title  {
    font-family: "National Park", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  h1 {
    display: flex;
    justify-content: right;
    color: black;
  }
  title {
    display: flex;
    justify-content: center;
    color: azure;
    font-weight: bolder;
    font-size: large;
  }

  div>h2 {
    display: flex;
    justify-content: right;
    text-transform: lowercase;
    font-size: medium;
  
  }

  section>h3 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    
  }
  h4 {
    display: flex;
    justify-content: center;
  }


 body {
  background-color: rgba(154, 136, 233, 0.747) ;
  
 }

main {
  color: rgb(0, 0, 0);
}

p {
  display: flex;
  justify-content: center;
  
}

section>header {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

ul>li {
  display: flex;
  justify-content: center;
}

section>header {
  display: flex;
  justify-content: center;
}

.box {
  width: 550px;
  height: 220px;
  background-color: rgb(255, 254, 253);
  border: 1px blueviolet;
  padding: 15px;
  margin: 0px auto;
  padding-top: 5px;
  justify-content: right;
   
}

section>div>img {
  animation-direction: normal;
  animation-duration: 5s;
  position: relative;
  animation-iteration-count: infinite;
}



